<script asp-location="Footer">
    $(document).ready(function () {
        $('#eu-cookie-bar-notification').show();

        $('#eu-cookie-ok').on('click', function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "@Url.RouteUrl("EuCookieLawAccept")",
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    $('#eu-cookie-bar-notification').hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Cannot store value');
                }
            });
        });
    });
</script>

<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification">
    <div class="content">

        


        <div class="buttons-more">

            <div class="cookieButton">
                <button type="button" class="ok-button button-1" id="eu-cookie-ok">@T("cookie.ok")</button>
                @*<button type="button" class="ok-button button-1" id="eu-cookie-ok">Accept</button>*@
            </div>

            @*<div class="text cookieText">@T("EUCookieLaw.Description2")</div>*@

            <div class="cookieText">
                <i class="fas fa-cookie-bite cookieIcon"></i>
                Cookie?
                @T("EUCookieLaw.Description2")
            </div>

            <div class="cookieLink">
                <a href="@Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeNameAsync("privacyinfo") })">@T("EUCookieLaw.LearnMore")</a>
            </div>

        </div>


    </div>
</div>