@using Nop.Plugin.Widgets.SideShoppingCart.Models
@model PublicInfoModel
@{
    Layout = "";
}

@if (Model.ShoppingCartModel.TotalProducts > 0)
{

    <div class="block block-recently-viewed-products">

        <div class="title">
            <strong>@T("ShoppingCart")</strong>
        </div>

        <div class="listbox">

            <ul class="list">
                @if (Model.ShoppingCartModel.TotalProducts > 0)
                {
                    @foreach (var p in Model.ShoppingCartModel.Items)
                    {
                        <li class="last">
                            @if (Model.ShowProductImagesOnShoppingCart)
                            {
                                <a class="product-picture" href="@Url.RouteUrl("Product", new { SeName = p.ProductSeName })"><img src="@p.Picture.ImageUrl" title="@p.Picture.Title" /></a>
                            }

                            <a class="product-name" href="@Url.RouteUrl("Product", new { SeName = p.ProductSeName })">@p.ProductName</a>
                        </li>
                    }
                }
            </ul>

            @if (!Model.HideCheckoutButton)
            {
                <div class="button">
                    <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                        <span class="cart-label">@T("Checkout.Button")</span>
                    </a>
                </div>
            }

        </div>

    </div>
}
